<!DOCTYPE html>
<html lang="en">
	<head>
		<!--[if lt IE 9]> <%= javascript_include_tag "js/ie/html5shiv.js" %> <%= javascript_include_tag "js/ie/respond.min.js" %> <![endif]-->
		<meta charset='utf-8'>
		<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
		<title>Dbuy - Seu aplicativo móvel de ofertas locais</title>
		<meta content='Tenha acesso imediato a todos os tipos de ofertas e cupons próximos de você através do seu celular gratuitamente e compartilhe as vantagens com seus amigos e familiares' name='description'>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,700,500italic,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="stylesheets/animate.css">
		<link rel="stylesheet" href="js/owlcarousel/owl.carousel.css">
		
		<link href='stylesheets/screen.css' rel='stylesheet'>
		
	</head>
	<body data-spy="scroll" data-target=".navbar-scroll">
		<a href="#" id="menu-icon"><img src="images/icon-menu@2x.png" class="img-responsive"></a>

		<div id="header" class="no-devices">
			
			<div class="dots-bg">
				
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<div class="header-logo">
								<img src="images/dbuy-logo.png" class="visible-lg visible-md img-responsive" alt="Dbuy - Seu aplicativo móvel de ofertas locais">
								<img src="images/dbuy-logo@2x.png" class="visible-sm visible-xs img-responsive" alt="Dbuy - Seu aplicativo móvel de ofertas locais">
							</div>

							<nav>
								<ul class="header-menu">
									<li><a href="#header">dbuy</a></li>
									<li><a href="#how-it-works">Como funciona?</a></li>
									<li><a href="#create-offer">Crie sua oferta</a></li>
									<li><a href="">Blog</a></li>
									<li><a href="#footer">Contato</a></li>
								</ul>
							</nav>

						</div>
					</div>
				</div>
			</div>			
		</div>

		<div id="plain-text">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">Política de privacidade</h1>

						<h2>Quisque Eget Odio Ac Lectus Vestibulum</h2>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis.</p>

						<h2>Quisque Eget Odio Ac Lectus Vestibulum</h2>

						<p>Porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti.</p>

						<p>Sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit.</p>

						<h2>Nulla At Nulla Justo, Eget Luctus Tortor. Nulla Facilisi</h2>

						<p>Amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra.</p>

						<p>Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a.</p>

						<h2>Donec Congue Lacinia Dui</h2>

						<p>Enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue sed ut.</p>

						<p>Dui. Morbi malesuada nulla nec purus convallis consequat. Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl volutpat bibendum. Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-12">
						<img src="images/dbuy-orange.png" class="visible-lg visible-md footer-logo" alt="Dbuy - Seu aplicativo móvel de ofertas locais" width="70">
						<img src="images/dbuy-orange@2x.png" class="visible-sm visible-xs footer-logo" alt="Dbuy - Seu aplicativo móvel de ofertas locais" width="70">

						<p>dbuy 2014 - Todos os direitos reservados</p>
						<p><a href="#">Termos de uso</a> • <a href="#">Política de privacidade</a></p>
					</div>

					<div class="col-md-3 col-sm-12 social text-right">
						<a href="https://plus.google.com/u/1/105223430109788993116/posts?ppaa=true" target="_blank"><img src="images/icon-gplus@2x.png" alt="Dbuy no Facebook" width="30"></a>

						<a href="https://www.facebook.com/dbuyapp" target="_blank"><img src="images/icon-fb@2x.png" alt="Dbuy no Facebook" width="30"></a>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/bootstrap/modal.js"></script>
		<script src="js/owlcarousel/owl.carousel.js"></script>
		<script src="js/bootstrap/scrollspy.js"></script>

		<script>
			jQuery(document).ready(function($) {
				$('body').scrollspy({ target: '.navbar-scroll' });

				$('#how-it-works').on('activate.bs.scrollspy', function () {
					//$('.navbar-scroll').show();
					alert('whoa');
				});

				$('.owl-carousel').owlCarousel({
					items:1,
					loop:true,
					margin: 0,
					lazyLoad: true,
					autoplay: true,
					autoplayTimeout: 5000,
					autoplayHoverPause: true
				});
			});
		</script>
	</body>
</html>
